<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="hidden">
  <symbol id="" viewBox=""></symbol>
</svg>

include ../mmenu/_mmenu

link(rel='stylesheet', media='none' onload="if(media!='all')media='all'" href="css/main.min.css")

script(src='js/jquery-3.3.1.min.js')
script(async defer src='js/vendor.min.js')
script(async defer src='js/main.min.js')