*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
}

a {
  transition: $tr;
}

.header,
.main,
.footer {
  width: 100%;
}

body {
  font-size: $bodyFZ;
  font-family: $reg, Arial, sans-serif;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-weight: 400;
  color: $black_01;
  &.block-scroll {
    position: fixed;
  }
}

.hidden {
  display: none !important;
}

body .fancybox-bg {
  background: rgba(#000, .25);
}

body {
  &.touch-device {
    .list-select {
      &.list-select--bottom {
        .list-select__dropdown {
          top: auto;
          bottom: calc(100% + 8px);
          transform: translateY(10%) translateX(-50%);
        }
        &.active{
          .list-select__dropdown {
            transform: translateY(0) translateX(-50%);
          }
        }
      }
      &.active {
        .list-select__dropdown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0) translateX(-50%);
        }
        .list-select__arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
  &:not(.touch-device) {
    .list-select {
      &.list-select--bottom {
        .list-select__dropdown {
          top: auto;
          bottom: calc(100% + 8px);
          transform: translateY(10%) translateX(-50%);
        }
        &:hover{
          .list-select__dropdown {
            transform: translateY(0) translateX(-50%);
          }
        }
      }
      &:hover {
        .list-select__dropdown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0) translateX(-50%);
        }
        .list-select__arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
}



.page {
  min-height: 100vh;
  padding-top: 98px;
  position: relative;
  @include flex(space-between, flex-start, false, nowrap, column);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

html {
  font-size: $htmlFZ;
  text-size-adjust: 100%;
}

html, body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

button.disabled, a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.75;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
}

input[type="submit"] {
  cursor: pointer
}

.container {
  width: 92%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;

  > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }
}

.scroll-element {
  display: none;
  box-sizing: content-box;

  div {
    box-sizing: content-box;
  }

  &.scroll-x.scroll-scrollx_visible, &.scroll-y.scroll-scrolly_visible {
    display: block;
  }

  .scroll-bar, .scroll-arrow {
    cursor: default;
  }
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;

  > .scroll-content {
    overflow: hidden !important;

    > textarea {
      border: none !important;
      box-sizing: border-box;
      height: 100% !important;
      margin: 0;
      max-height: none !important;
      max-width: none !important;
      overflow: scroll !important;
      outline: none;
      padding: 2px;
      position: relative !important;
      top: 0;
      width: 100% !important;

      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
    }
  }
}


.scrollbar-outer > {
  .scroll-element {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;

    div {
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }

    background-color: $black_02;

    &.scroll-x {
      bottom: 0;
      height: 12px;
      left: 0;
      width: 100%;
    }

    &.scroll-y {
      height: 100%;
      right: 0;
      top: 0;
      width: 12px;
    }

    &.scroll-x .scroll-element_outer {
      height: 8px;
      top: 2px;
    }

    &.scroll-y .scroll-element_outer {
      left: 2px;
      width: 8px;
    }

    .scroll-element_outer {
      overflow: hidden;
    }

    .scroll-element_track {
      background-color: $black_02;
    }

    .scroll-element_outer, .scroll-element_track {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }

    .scroll-bar {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      background-color: $black_01;

      &:hover {
        background-color: #c2c2c2;
      }
    }

    &.scroll-draggable .scroll-bar {
      background-color: #919191;
    }
  }

  .scroll-content {
    &.scroll-scrolly_visible {
      left: -12px;
      margin-left: 12px;
    }

    &.scroll-scrollx_visible {
      top: -12px;
      margin-top: 12px;
    }
  }

  .scroll-element {
    &.scroll-x .scroll-bar {
      min-width: 10px;
    }

    &.scroll-y .scroll-bar {
      min-height: 10px;
    }

    &.scroll-x.scroll-scrolly_visible .scroll-element_track {
      left: -14px;
    }

    &.scroll-y.scroll-scrollx_visible .scroll-element_track {
      top: -14px;
    }

    &.scroll-x.scroll-scrolly_visible .scroll-element_size {
      left: -14px;
    }

    &.scroll-y.scroll-scrollx_visible .scroll-element_size {
      top: -14px;
    }
  }
}



.nav {
  font-size: 14px;
  ul {
    @include reset-list();
    @include flex(center, center);
    a {
      display: block;
      @include link();
    }
  }
}

.socials {
  @include reset-list();
  @include flex(center);
  li {
    margin: 0 8px;
    &:hover svg {

    }
  }
  a {
    display: block;
    svg {
      @include svg();
      transition: .15s all ease-in;
    }
  }
}

.logo {
  width: 134px;
  img {
    @include img();
  }
}

.hamburger {
  background-color: #ccc;
  border-radius: 50%;
  border: 0;
  position: relative;
  width: 40px;
  height: 39px;
  display: none;
  margin-left: 30px;
  &.active {
    .hamburger__line {
      &:nth-of-type(1) {
        transform: rotate(45deg);
        top: 18px;
      }
      &:nth-of-type(2) {
        width: 0;
      }
      &:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 18px;
      }
    }
  }
  &__line {
    display: inline-block;
    position: absolute;
    height: 3px;
    border-radius: 1000px;
    background-color: $corporateMain;
    transition: .25s all ease-in;
    &:nth-of-type(1) {
      top: 10px;
      left: 10px;
      right: 10px;
      transition-delay: 0.01s;
    }
    &:nth-of-type(2) {
      top: 18px;
      left: 6px;
      right: 6px;
    }
    &:nth-of-type(3) {
      top: 26px;
      left: 10px;
      right: 10px;
      transition-delay: 0.01s;
    }
  }
}

.tabs {
  &__top {
    @include reset-list();
    @include flex(center, flex-start, false, wrap);
    color: $accent;
    margin-bottom: -10px;
    a {
      @include link();
      transition: .1s color ease-in;
    }
    li {
      margin: 0 16px 10px;
      &.disable {
        pointer-events: none;
        cursor: default;
      }
      &.active {
        color: $accent;
        font-weight: 700;
      }
    }
  }
  &__item {
    display: none;
    &.active {
      display: block;
    }
  }
}

.text-block {
  font-size: 18px;
  line-height: 150%;
  @include flex(center, stretch, false, nowrap, column);
  img {
    max-width: 100%;
    height: auto;
    margin: 40px auto 38px;
  }
  a {
    color: $otherBlue;
    text-decoration: underline;
  }
  blockquote {
    color: $otherDarkGrey;
    font-style: italic;
    padding-left: 35px;
    position: relative;
    margin: 40px 0;
    &:before {
      content: '';
      display: initial;
      width: 3px;
      height: 100%;
      top: 0;
      background-color: $otherGrey;
      border-radius: 2px;
      position: absolute;
      left: 0;
    }
  }
}

img.lazyload {
  transition: .25s all ease-in;
  &:not(.loaded) {
    opacity: 0;
  }
}

.pagination-block {
  margin-top: 56px;
  ul {
    @include reset-list();
    @include flex(center, center, false, wrap);
  }
  li {
    color: #fff;
    width: 29px;
    height: 29px;
    margin: 0 4px;
    &.current:not(.dots) a {
      background-color: $accent;
    }
    &:hover a {
      border-color: $accent;
    }
    &.dots svg {
      @include svg(none, none);
    }
  }
  a {
    @include link();
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid transparent;
    @include flex(center, center, true);
    height: 100%;
    width: 100%;
  }
}

.list-select {
  position: relative;
  &__arrow {
    display: inline-block;
    width: 16px;
    height: 16px;
    transition: .4s all ease-in;
    svg {
      @include svg();
    }
  }
  &__current {
    margin-right: 4px;
    letter-spacing: 0.2px;
    font-size: 14px;
    color: #ccc;
  }
  &__top {
    @include flex(center, center);
    cursor: pointer;
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 8px;
    }
  }
  &__dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .4s all ease-in;
    transform: translateY(-30%) translateX(-50%);
    font-size: 12px;
    left: 50%;
    background: #fff;
    top: calc(100% + 8px);
    border: 1px solid rgba(#ccc, .15);
    border-radius: 5px;
    ul {
      @include reset-list();
      li {
        &:first-child {
          a {
            border-radius: 5px 5px 0 0;
          }
        }
        &:last-child {
          a {
            border-radius: 0 0 5px 5px;
            border-bottom: 0;
          }
        }
        &.current,
        &:hover {
          color: #fff;
          a {
            background: #ccc;
          }
        }
        color: #000;
      }
      a {
        display: block;
        @include link();
        padding: 8px 14px;
        border-bottom: 1px solid #fff;
      }
    }
  }
}
